.page-cart {

  //@include mdx($tablet-width) {}

  //@include mdn($tablet-width + 1) {  }

  a {
    text-decoration: none;
  }

  &__container {
    //@include mdx($tablet-width) {}

    @include mdn($tablet-width + 1) {
      margin-bottom: 40px;
    }
  }

  &__table {
    margin-bottom: 40px;
  }

  &__table-wrapper {
    margin-bottom: 20px;
    overflow-x: auto;
  }

  &__table-wrapper-container {
    min-width: 500px;
    overflow: hidden;
  }

  &__thead {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &__tbody-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__tbody-quantity {
    display: flex;

    input[type=submit] {
      @include mdx($tablet-width) {
        font-size: $fsButtonM;
        padding: 0.7em 1.4em;
      }
      @include mdn($tablet-width + 1) {
        font-size: $fsButton;
        padding: 0.62em 1.25em;
      }
    }

    @include mdx($tablet-width) {
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
    }

    @include mdn($tablet-width + 1) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    form {
      @include mdx($tablet-width) {
        text-align: center;
      }
    }

    //input[type=submit] {}

    input[type=number] {
      height: 40px;
      min-width: 40px;
      padding: 2px;
      border: 1px solid $bgButton;

      @include mdx($tablet-width) {
        width: 80%;
        margin-bottom: 12px;
      }

      @include mdn($tablet-width + 1) {
        width: 30%;
      }
    }
  }

  &__table-cell {
    flex-basis: calc(100% / 5);
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    &--remove {
      flex-basis: 2%;

      width: 20px;
      height: 20px;
      padding: 10px 5px;

      svg {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &--image {
      img {
        min-width: 80px;
        width: 100%;
        max-width: 180px;
      }
    }
  }

  &__tbody-cell {
    padding: 10px 0;
  }

  &__thead-text {
    font-size: $fsMText;
    color: $colorTextCartHeader;
  }

  &__total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $colorTextBlack;
  }

  &__total-num,
  &__total-text {
    font-size: $fsCardCost;
  }

  &__total-text {
    margin-right: 16px;
  }

  &__action-btn {
    margin-bottom: 40px;
    display: inline-block;
  }

  //&__total-num {  }

  &__checkout {
    text-align: right;
  }

  &__title {
    margin-bottom: $padGeneral*2;

    @include mdx($tablet-width) {
      padding: 16px 0;
    }
  }
}

/* end .page-cart */

/*
<table class="cart">
        <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Unit price</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.image.url }}">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <input type="submit" value="Update">
                  {% csrf_token %}
                </form>
              </td>
              <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
              <td class="num">${{ item.price }}</td>
              <td class="num">${{ item.total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
      </table>
*/