.page-cart {

  //@include mdx($tablet-width) {}

  //@include mdn($tablet-width + 1) {  }

  a {
    text-decoration: none;
  }

  &__container {
    max-width: 1200px;

    @include mdx($tablet-width) {
      min-height: calc(100vh - 90px);
    }

    @include mdn($tablet-width + 1) {
      min-height: calc(100vh - 120px);
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      margin: 0 auto 40px;
    }
  }

  //&__table {}

  &__table-wrapper {
    overflow-x: auto;

    @include mdx($tablet-width) {
      margin-bottom: $padGeneral;
    }

    @include mdn($tablet-width + 1) {
      margin-bottom: $padGeneral * 2;
    }
  }

  &__table-wrapper-container {
    min-width: 500px;
    overflow: hidden;
  }

  &__thead {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &__tbody-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__tbody-quantity {
    min-width: calc(100% / 5);

    @include mdx($tablet-width) {
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
    }

    @include mdn($tablet-width + 1) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    form {
      display: flex;

      @include mdx($tablet-width) {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
      }

      @include mdn($tablet-width + 1) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    //input[type=submit] {}

    input[type=number] {
      font-size: inherit;
      min-width: 50px;
      padding: $padBtnVer 2px;
      border: 1px solid rgba($bgButton, .8);
      border-radius: 44px;
      text-indent: 16px;
      line-height: 24px;

      @include mdx($tablet-width) {
        margin-bottom: 8px;
      }

      //@include mdn($tablet-width + 1) {}

      //@include mdx($mobile-width) {}
    }
  }

  &__btn-update {
    font-size: inherit;

    @include mdx($tablet-width) {
      padding: 0.62em 1.25em;
    }

    @include mdn($tablet-width + 1) {
      margin-left: 5px;
      padding: 0.7em 1.4em;
    }
  }

  &__table-cell {
    //min-width: calc(100% / 5);
    flex-basis: calc(100% / 5);
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    &--remove {
      flex-basis: 2%;

      width: 20px;
      height: 20px;
      padding: 10px 5px;

      svg {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &--image {
      img {
        min-width: 80px;
        width: 100%;
        max-width: 180px;
      }
    }

    &--product,
    &--uprice,
    &--price {
      flex-basis: 10%;
    }
  }

  &__tbody-cell {
    padding: 10px 0;
  }

  &__thead-text {
    font-size: $fsMText;
    color: $colorTextCartHeader;
  }

  &__coupon {
    margin: $padGeneral 0;
    padding: $padGeneral;
    border-radius: 10px;
    background-color: $bgSubscribe;
  }

  &__coupon-form,
  &__coupon-title {
    margin-bottom: $padGeneral;
  }

  &__coupon-form {
    input[type=text] {
      font-size: inherit;
      min-width: 50px;
      padding: $padBtnVer 2px;
      border: 1px solid $bgButton;
      border-radius: 44px;
      text-indent: 8px;

      margin-left: 8px;
    }
  }

  &__total {
    padding: $padGeneral 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $colorTextBlack;
  }

  &__total-num,
  &__total-text {
    @include mdx($tablet-width) {
      font-size: $fsCartTotalCostM;
    }

    @include mdn($tablet-width + 1) {
      font-size: $fsCartTotalCostD;
    }
  }

  &__total-text {
    margin-right: 16px;
  }

  &__action-btn {
    display: inline-block;
  }

  //&__total-num {  }

  &__checkout {
    text-align: right;
    margin: $padGeneral 0;
  }

  &__title {
    margin-bottom: $padGeneral*2;

    @include mdx($tablet-width) {
      padding: 16px 0;
    }
  }
}

/* end .page-cart */