.page-order {
  //@include mdx($tablet-width) {}

  //@include mdn($tablet-width + 1) {}

  &__container {
    max-width: 1000px;

    @include mdx($tablet-width) {
      margin: 0 auto;
    }

    @include mdn($tablet-width + 1) {
      margin: 0 auto;
    }
  }

  &__list {
    padding-left: $padGeneral;
  }

  &__title,
  &__total-row {
    margin-bottom: $padGeneral;
  }

  &__total-row {
    margin-bottom: $padGeneral;

    @include mdx($tablet-width) {
      font-size: $fsCartTotalCostM;
    }

    @include mdn($tablet-width + 1) {
      font-size: $fsCartTotalCostD;
    }
  }

  &__form-wrapper {
    background-color: rgba(#eee, 0.3);
    border-radius: 10px;
    padding: $padGeneral*2 $padGeneral;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $padGeneral;
      max-width: 400px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      label {
        flex-basis: 30%;
        margin-right: 5px;
      }
    }

    input[type=text],
    input[type=email],
    input[type=number] {
      @extend .input-item;
      max-width: 300px;
      flex-basis: 80%;
    }

    & .page-order__form-row--aright {
      justify-content: flex-end;
    }
  }
}

/* end .page-order */