{% extends 'main/index.html' %}
{% load static %}

{% block title %} Our sox {% endblock title %}

{% block content %}
    <!-- end .page-header -->
    <main class="page-main js-page-main">
        <div class="page-home--bg-oursox">
            <section
                    class="page-home page-main__content"
                    style="background-image: url('{% static "img/content-img1-2.png" %}')"
            >
                <div class="page-home__container">
                    <div class="page-home__first page-container">
                        <h1 class="page-home__title page-text page-text-h1">
                            We encourage people their active life.
                        </h1>
                        <h1
                                class="page-home__subtitle page-text page-text-h1"
                        >
                            <i class="page-text--highlight-white">Stay active!<br/>Stay motivated!<br/>Be You!</i>
                        </h1>
                    </div>
                    <div class="page-home__last">
                        <img src="{% static 'img/content-img1-2-1.png' %}" alt=""/>
                    </div>
                </div>
            </section>
            <!-- end .page-home .page-main__content -->
        </div>

        <section class="page-our-shop page-main__content">
            <div class="page-main__wrapper page-main__wrapper--reverse">
                <div class="page-main__first page-container">
                    <h1 class="page-main__title page-text page-text-h1">About us</h1>
                    <blockquote>
                        <p class="page-main__text page-text-simple">
                            <i class="page-text--highlight"
                            ><q>STAY ACTIVE. STAY MOTIVATED. BE YOU</q></i
                            >
                            <br/><span style="font-weight: 600">
                  – a will for everyday challenges!</span
                        >
                        </p>
                    </blockquote>
                    <p class="page-main__text page-text-simple">
                        AMB SOX is a Suisse label of sportswear accessories with unique
                        design. We are creating functional socks (AMB Sox™) for active
                        people who cares about comfort, security and quality of product
                        they buy.
                    </p>
                    <p class="page-main__text page-text-simple">
                        For more than 10 years sox designers satisfy needs of our clients
                        and go forward in fashion and functional performance. That’s why
                        we never stop to improve our sox and our services!
                    </p>
                    <p class="page-main__text page-text-simple page-text--highlight">
                        <i>HOW does feet feel in SOX?</i>
                    </p>
                    <ol class="page-main__text page-text-simple">
                        <li>Feel support – thanks to movement-adapted smart design</li>
                        <li>
                            Feel fresh – Sox’s fabrics is breathable, soft and
                            moisture-wicking
                        </li>
                        <li>Feel stylish: we care about Sox’s design!</li>
                        <li>Feel happy!</li>
                    </ol>
                    <p class="page-main__text page-text-simple">
                        <i class="page-text--highlight">Be with us!</i><br/>
                        – let sox inspire you for new adventures!
                    </p>
                </div>

                <div class="page-main__last">
                    <img class="" src="{% static 'img/content-img4.jpg' %}" alt="Our Shop image"/>
                </div>
            </div>
        </section>
        <!-- end .page-our-shop .page-main__content -->

        <section class="page-about page-main__content">
            <div class="page-main__wrapper">
                <div class="page-main__first page-container">
                    <h1 class="page-main__title page-text page-text-h1">Our Story</h1>
                    <p class="page-main__text page-text-simple">
                        We are based in the multinational city of Lausanne, Switzerland,
                        and operate all over Europe.
                    </p>
                    <p class="page-main__text page-text-simple">
                        We are sport-lovers and trainers, designers, engineers, analysts,
                        photographers, travelers, volunteers, parents, and dreamers!
                    </p>
                    <p class="page-main__text page-text-simple">
                        Our multicultural and enthusiastic team works hard in aim to
                        create a unique- design product what will perfectly fit everyday’
                        activities of our or Sox lovers.
                    </p>
                </div>

                <div class="page-main__last">
                    <img class="" src="{% static 'img/content-img5.jpg' %}" alt="Our Shop image"/>
                </div>
            </div>
        </section>
        <!-- end .page-about .page-main__content -->

        <section class="page-about page-main__content">
            <div class="page-main__wrapper page-main__wrapper--reverse">
                <div class="page-main__first page-container">
                    <h1 class="page-main__title page-text page-text-h1">
                        Our philosophy
                    </h1>
                    <p class="page-main__text page-text-simple">
                        We believe in a movement. We believe in performance. We believe in
                        our ability to improve people’s daily experience.
                    </p>
                    <p class="page-main__textpage-text-simple">
                        Small details may impact your journey. It jointly should be
                        perfect to let you be more active, to let you feel free and
                        comfortable.
                    </p>
                    <p class="page-main__text page-text-simple">
                        <b>We care about:</b>
                    </p>
                    <ul class="page-main__text hyphen-list">
                        <li class="page-main__text page-text-simple">
                            The <strong><i class="page-text--highlight">quality</i></strong
                        >: create sustainable products is the way how we respect the
                            environment.
                        </li>
                        <li class="page-main__text page-text-simple">
                            <strong><i class="page-text--highlight">Design</i></strong
                            >: it should be beautiful and attractive. We never stop doing
                            ameliorations.
                        </li>
                        <li class="page-main__text page-text-simple">
                            <strong><i class="page-text--highlight">Kids</i></strong
                            >. But only you can be the best example for your children.
                            That’s why we honestly convinced by importance of family
                            activities. We do our best for support the healthy
                            relationships. “Like mother, like daughter. Like father, like
                            son.”
                        </li>
                    </ul>
                </div>

                <div class="page-main__last">
                    <img class="" src="{% static 'img/content-img6.jpg' %}" alt="Our Shop image"/>
                </div>
            </div>
        </section>
        <!-- end .page-about .page-main__content -->

        <section class="page-about page-main__content">
            <div class="page-main__wrapper">
                <div class="page-main__first page-container">
                    <h1 class="page-main__title page-text page-text-h1">
                        Our inspiration
                    </h1>
                    <p class="page-main__text page-text-simple">
                        Pleasure is our main inspiration! Wearing soft socks is a sensual
                        joy. Beautiful socks bring us a visual delight. And
                        self-expression joy coming from a unique design.
                    </p>
                    <p class="page-main__text page-text-simple">
                        We are inspired by indoor and outdoor activities. Sox make happy
                        sport lovers and people enjoying home.
                    </p>
                    <p class="page-main__text page-text-simple">
                        Style is our passion: we take care of visual design and every
                        small detail!
                    </p>
                </div>

                <div class="page-main__last">
                    <div
                            class="page-inspiration swiper-container js-inspiration-swiper"
                    >
                        <div class="page-inspiration__wrapper swiper-wrapper">
                            <div
                                    class="page-inspiration__slide swiper-slide"
                                    style="background-image: url('{% static "img/content-img-slide1.png" %}')"
                            ></div>
                            <div
                                    class="page-inspiration__slide swiper-slide"
                                    style="background-image: url('{% static "img/content-img-slide2.png" %}')"
                            ></div>
                            <div
                                    class="page-inspiration__slide swiper-slide"
                                    style="background-image: url('{% static "img/content-img-slide3.png" %}')"
                            ></div>
                            <div
                                    class="page-inspiration__slide swiper-slide"
                                    style="background-image: url('{% static "img/content-img-slide4.png" %}')"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end .page-about .page-main__content -->

        <section class="page-sales page-main__content">
            <div class="page-sales__container">
                <div class="page-container">
                    <h2 class="page-sales__title">
                        Buy now the high quality swiss designed sport socks:
                        <span class="page-text--highlight"
                        ><strong>
                  <i>any style</i>, <i>any colour</i>,
                  <i>any collection</i>
                </strong>
                -</span
                        >
                        <strong style="font-weight: 900">ONE PRICE!</strong>
                    </h2>
                </div>
                <div class="page-sales__swiper swiper-container js-swiper">
                    <div class="page-sales__items-wrapper swiper-wrapper">
                        {% for item in sox %}
                            <a class="page-sales__item swiper-slide" href="{{ item.get_absolute_url }}">
                                <img
                                        class="page-sales__item-img"
                                        src="{{ item.image.url }}"
                                        alt="Classic grip"
                                />
                                <h2 class="page-sales__item-title page-text-h2">
                                    {{ item.title }}
                                </h2>
                                <p class="page-sales__item-cost">CHF {{ item.price }}</p>
                            </a>
                        {% endfor %}
                        <!-- end .page-sales__item -->
                    </div>
                    <!-- end .page-sales__items-wrapper .swiper-wrapper -->
                </div>
                <!-- end .page-sales__swiper .swiper-container .js-swiper -->
            </div>
            <!-- end .page-sales__container -->
        </section>
        <!-- end .page-sales .page-main__content -->

        <section class="page-community page-main__content">
            <div class="page-container">
                <h2 class="page-community__title">
                    For any questions / pour toutes les questions
                    <a class="page-community__mailto" href="mailto:info@ambsox.com"
                    >info@ambsox.com</a
                    >
                </h2>
                <ul class="page-community__social-list social-list">
                    <li class="page-community__social-item social-list__item">
                        <a
                                class="page-community__social-link page-community__social-link--active social-list__link"
                                href="#"
                        ><img src="{% static 'img/icon-inst.svg' %}" alt="INST"
                        /></a>
                    </li>
                    <li class="page-community__social-item social-list__item">
                        <a class="page-community__social-link social-list__link" href="#"
                        ><img src="{% static 'img/icon-email.svg' %}" alt="EMAIL"
                        /></a>
                    </li>
                    <li class="page-community__social-item social-list__item">
                        <a class="page-community__social-link social-list__link" href="#"
                        ><img src="{% static 'img/icon-fb.svg' %}" alt="Fb"
                        /></a>
                    </li>
                </ul>
                <!-- end .social-list -->
            </div>
        </section>
        <!-- end .page-community .page-main__content -->

        <section class="page-subscribe page-main__content">
            <div class="page-container">
                <div class="page-subscribe__container">
                    <h2 class="page-subscribe__title page-text-h2">Subscribe</h2>
                    <p class="page-subscribe__text">
                        Sign up with your email address to receive news and updates
                    </p>

                    <form class="page-subscribe__form" action="">
                        <label class="page-subscribe__input-wrapper">
                            <input
                                    class="page-subscribe__input"
                                    type="text"
                                    placeholder="domain@email.com"
                            />
                        </label>
                        <button
                                class="page-subscribe__btn btn btn-subscribe"
                                type="submit"
                        >
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!-- end .page-subscribe .page-main__content -->
    </main>
    <!-- end .page-main -->
{% endblock content %}