{% extends 'shop/index.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
  <main class="page-main js-page-main">
    <section class="page-gallery page-main__content">
      <div class="page-container page-gallery__container">
        <div class="page-gallery__list js-gallery-list">
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery1.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery1.jpg" alt="image1" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery2.jpg' %})"
              data-mfp-src=" .js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery2.jpg" alt="image2" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery3.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery3.jpg" alt="image3" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery4.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery4.jpg" alt="image4" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery5.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery5.jpg" alt="image5" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery6.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery6.jpg" alt="image6" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery7.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery7.jpg" alt="image7" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery8.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery8.jpg" alt="image8" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery9.jpg' %})"
              data-mfp-src=".js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery9.jpg" alt="image9" /> -->#}
          </figure>
          <figure
              class="page-gallery__list-item js-gallery-list-item"
              style="background-image: url({% static 'img/img-gallery10.jpg' %})"
              data-mfp-src=" .js-gallery-page-swiper">
            {# <img src="{% static 'img/img-gallery10.jpg" alt="image10" /> -->#}
          </figure>
        </div>
      </div>
    </section>
    <!-- end .page-gallery .page-main__content -->

    <!-- end .page-subscribe .page-main__content -->
  </main>
  <!-- end .page-main -->

  <section class="js-gallery-page-swiper" style="display: none;">
    <div
        class="page-gallery__gallery-slides swiper-container js-gallery-top-swiper"
    >
      <div class="swiper-wrapper">
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery1.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery2.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery3.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery4.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery5.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery6.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery7.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery8.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery9.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery10.jpg' %})"
        ></figure>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div
        class="page-gallery__thumbs swiper-container js-gallery-thumbs-swiper"
    >
      <div class="swiper-wrapper">
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery1.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery2.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery3.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery4.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery5.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery6.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery7.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery8.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" 
            style="background-image: url({% static 'img/img-gallery9.jpg' %})"
        ></figure>
        <figure
            class="swiper-slide" style="background-image: url({% static 'img/img-gallery10.jpg' %})"
        ></figure>
      </div>
    </div>
  </section>
  <!-- end .js-gallery-page-swiper -->
{% endblock content %}