{% extends 'shop/index.html' %}
{% load static %}

{% block title %} Sale {% endblock title %}
{% block content %}
<!-- end .page-header -->
<main style='overflow-x:hidden;' class="page-main">
  <section  class="wow animate__animated animate__fadeIn  page-sale page-main__content page-main--top">
    <div class="page-container">
      <div class="page-sale__container swiper-container js-salelist-swiper">
        <div class="page-sale__wrapper swiper-wrapper">
          <div class="page-sale__item swiper-slide">
            <h2 class="page-sale__title">Home SOX</h2>
            <div class="page-sale__top">
              <div
                  class="page-sale__cover"
                  style="background-image: url(./img/img-sale1.png)"
              ></div>
              <h1 class="page-sale__cost">CHF 11.00</h1>
              <p class="page-sale__subtitle">ONE SALE - HOME SOX</p>
            </div>
            <p class="page-main__text page-text page-text--highlight">
              <b>Created for home activity.</b>
            </p>
            <p class="page-text">
              <b>Fabrics:</b>
              <i
              >80% jacquard-half terry cotton, 20% spandex/elastane.
                Grips: PVC</i
              >
            </p>
            <ul class="page-sale__list">
              <li class="page-sale__list-item">Anti-slippery points</li>
              <li class="page-sale__list-item">
                Light and breathable fabrics
              </li>
              <li class="page-sale__list-item">Reinforced foot bed</li>
              <li class="page-sale__list-item">Special arch support</li>
              <li class="page-sale__list-item">Mid-weight</li>
            </ul>
          </div>
          <div class="page-sale__item swiper-slide">
            <h2 class="page-sale__title">Special Pack</h2>
            <div class="page-sale__top">
              <div
                  class="page-sale__cover"
                  style="background-image: url(./img/img-sale2.png)"
              ></div>
              <h1 class="page-sale__cost">CHF 39.00</h1>
              <p class="page-sale__subtitle">SPECIAL PACK WOMEN INCLUDES</p>
            </div>
            <p class="page-text">
              <b>Fabrics:</b>
              <i
              >80% jacquard-half terry cotton, 20% spandex/elastane.
                Grips: PVC</i
              >
            </p>
            <ul class="page-sale__list">
              <li class="page-sale__list-item">Ballet Grip - Pink</li>
              <li class="page-sale__list-item">Classic Grip - Pink</li>
              <li class="page-sale__list-item">Speedy sport - Grey</li>
            </ul>
            <p class="page-text">
              <b>Care:</b>
              <i
              >Machine wash at 40°C. Do not bleach. Do not dry clean.
                Tumble dry on a low setting.</i
              >
            </p>
          </div>
        </div>
        <!-- Sport antislippery socks - for your
          <strong><i class="page-text--highlight">pilates</i></strong
          >, <i>barre</i>,
          <strong><i class="page-text--highlight">trx</i></strong> and
          <strong><i class="page-text--highlight">yoga classes</i></strong>
        </h3> -->
      </div>
    </div>
  </section>
  <!-- end .page-shop .page-main__content -->
</main>

{% endblock content %}