{% extends 'shop/index.html' %}
{% load static %}
{% block title %} Shop {% endblock title %}
{% block content %}
  <main class="page-main page-main--shop js-page-main">
    <section class="page-shop page-main__content page-main--top">
      <div class="page-shop__container page-container">
        <h3
            class="page-shop__title page-text page-text-h3 page-text--noweight"
        >
          Sport antislippery socks - for your
          <strong><i class="page-text--highlight">pilates</i></strong
          >, <i>barre</i>,
          <strong><i class="page-text--highlight">trx</i></strong> and
          <strong><i class="page-text--highlight">yoga classes</i></strong>
        </h3>
      </div>
    </section>
    <!-- end .page-shop .page-main__content -->

    <section class="page-shop page-main__content">
      <div class="page-shop__inner page-container">
        <div class="page-shop__filters">
          <div class="page-shop__products-title">
            <p>Swiss design</p>
          </div>
          <div class="page-shop__filters-list swiper--mob-show swiper-container js-shop-filters-swiper">
            <div class="page-shop__filters-wrapper swiper-wrapper">
              <div class="page-shop__filter-item swiper-slide">
                <p class="page-shop__filter-text page-shop__filter-text--active js-shop-filter"
                   data-filterkey="0">All</p>
              </div>
              {% for category in categories %}
                <div class="page-shop__filter-item swiper-slide">
                  <p class="page-shop__filter-text js-shop-filter"
                     data-filterkey="{{ category.slug }}">{{ category.name }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="page-shop__filters swiper--desk-show">
            <div class="page-shop__filters-wrapper">
              <div class="page-shop__filter-item">
                <p class="page-shop__filter-text page-shop__filter-text--active js-shop-filter"
                   data-filterkey="0">All</p>
              </div>
              {% for category in categories %}
                <div class="page-shop__filter-item swiper-slide">
                  <p class="page-shop__filter-text js-shop-filter"
                     data-filterkey="{{ category.slug }}">{{ category.name }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="page-shop__products js-is-qview" data-is-qview="false">
          {% for item in sox %}
            <div class="page-shop__product js-shop-product" data-filterid="{{ item.category.slug }}">
              <div class="page-shop__product-card">
                <a class="page-shop__card" href="{{ item.get_absolute_url }}">
                  <img class="page-shop__product-img" src="{{ item.image.url }}" alt=""/>
                </a>
                <button class="page-shop__qview-btn btn js-popup-qview-btn"
                        data-mfp-src=".js-popup-zoom-qview-card">Quick View
                </button>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="page-shop page-shop__popup-zoom js-popup-zoom-qview-card" style="display: none">
          <div class="page-shop__qview-box">
            <div class="page-shop__qview-container js-shop-qview-card-slick">
              {% for item in sox %}
                <div class="page-shop__qview">
                  <div class="page-shop__qview-container">
                    <div class="page-shop__qview-gallery">
                      <div class="js-zoom-card-slick">
                        <div class="page-shop__card-img-box js-card-zoom-img" data-src="https://unsplash.it/870/970">
                          <img class="page-shop__card-img" src="https://unsplash.it/1100/970" alt=""/>
                          {#<img class="page-shop__card-img" src="{{ item.image.url }}" alt=""/>#}
                        </div>
                        <!-- end  -->
                        <div class="js-card-zoom-img">
                          <img class="page-shop__card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                        <!-- end  -->
                        <div class="js-card-zoom-img">
                          <img class="page-shop__card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                        <!-- end -->
                        <div class="js-card-zoom-img">
                          <img class="page-shop__card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                        <!-- end -->
                      </div>
                      <!-- end of .js-zoom-card-swiper -->

                      <!-- Если 1 фотография, то скрыть нижний блок .page-shop__qview-card-thumbs -->
                      <div class="page-shop__qview-card-thumbs js-zoom-card-thumbs-slick">
                        <div class="page-shop__qview-card-thumb">
                          <img class="page-shop__qview-card-img" src="https://unsplash.it/870/870" alt=""/>
                          {#<img class="page-shop__qview-card-img" src="{{ item.image.url }}" alt=""/>#}
                        </div>
                        <!-- end of .swiper-slide -->
                        <div class="page-shop__qview-card-thumb">
                          <img class="page-shop__qview-card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                        <!-- end of .swiper-slide -->
                        <div class="page-shop__qview-card-thumb">
                          <img class="page-shop__qview-card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                        <!-- end of .swiper-slide -->
                        <div class="page-shop__qview-card-thumb">
                          <img class="page-shop__qview-card-img" src="{{ item.image.url }}" alt=""/>
                        </div>
                      </div>
                      <!-- end of .swiper-container .js-zoom-card-thumbs-swiper -->
                    </div>
                    <!-- end of .page-shop__qview-gallery -->
                    <div class="page-shop__qview-details">
                      <h1 class="page-shop__card-title">{{ item.title }}</h1>
                      <h2 class="page-shop__card-cost">CHF{{ item.price }}</h2>
                      <div class="page-shop__card-btn-container">
                        <button class="page-shop__card-add btn btn-primary">Add to card</button>
                      </div>
                      <p class="page-shop__card-excerpt page-text">{{ item.description }}</p>
                      <div class="page-shop__card-link-container">
                        <a class="page-shop__card-full-link" href="{{ item.get_absolute_url }}">View full link</a>
                      </div>
                    </div>
                    <!-- end of .page-shop__qview-details -->
                  </div>
                  <!-- end of .page-shop__container -->
                </div>
                <!-- end of .page-shop__qview swiper-slide -->
              {% endfor %}
            </div>
          </div>
          <!-- end .swiper-button-prev next -->
        </div>
      </div>
    </section>
    <!-- end .page-shop .page-main__content -->
  </main>
  <!-- end .page-main -->

  <div class="footer-message">
    <div class="footer-message__container page-container">
      <p class="footer-message__text">
        Delivery in <i class="page-text--highlight">SWITZERLAND</i> is free,
        fast and secure.
      </p>
      <button class="footer-message__close js-close-footer-msg">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 25 25">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.70711 0.292893C1.31658 -0.097631 0.683418 -0.097631 0.292893 0.292893C-0.097631 0.683417 -0.097631 1.31658 0.292893 1.70711L9.58736 11.0016L0.292893 20.296C-0.0976312 20.6866 -0.097631 21.3197 0.292893 21.7102C0.683418 22.1008 1.31658 22.1008 1.70711 21.7102L11.0016 12.4158L20.296 21.7102C20.6866 22.1008 21.3197 22.1008 21.7102 21.7102C22.1008 21.3197 22.1008 20.6866 21.7102 20.296L12.4158 11.0016L21.7102 1.70711C22.1008 1.31658 22.1008 0.683418 21.7102 0.292894C21.3197 -0.0976301 20.6866 -0.097631 20.296 0.292894L11.0016 9.58736L1.70711 0.292893Z"/>
        </svg>
      </button>
    </div>
  </div>

{% endblock content %}
